
# Large file excluded from Git (>100.0MB)
chebi.owl

# Large file excluded from Git (>100.0MB)
dron.owl

# Large file excluded from Git (>100.0MB)
fbbt.owl

# Large file excluded from Git (>100.0MB)
gno.owl

# Large file excluded from Git (>100.0MB)
go.owl

# Large file excluded from Git (>100.0MB)
mondo.owl

# Large file excluded from Git (>100.0MB)
mp.owl

# Large file excluded from Git (>100.0MB)
ncbitaxon.owl

# Large file excluded from Git (>100.0MB)
ncit.owl

# Large file excluded from Git (>100.0MB)
oba.owl

# Large file excluded from Git (>100.0MB)
ogg.owl

# Large file excluded from Git (>100.0MB)
pcl.owl

# Large file excluded from Git (>100.0MB)
pr.owl

# Large file excluded from Git (>100.0MB)
upheno.owl

# Large file excluded from Git (>100.0MB)
vto.owl

# Large file excluded from Git (>100.0MB)
zp.owl

# Large file excluded from Git (>100.0MB)
gaz.owl
